body, html {
    height: 100%;
    padding-top: 15px;
    background-color: black;
    color: white;
    font-family: 'Open Sans';font-size: 18px;
}

.intro {
    height: 100vh;
    background-image: url("background.jpg");
    text-align: center;    
}

.intro img {
    display: block;
    margin: auto;
    padding-top: 35vh;
}

.intro i {
    font-size:48px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: white;
}

.intro i:hover {
    color: cyan;
}

.about {
    height: 100%;
    text-align: center;
    border-bottom: 6px solid white;
}

.about i {
    padding-right: 10px;
}

.about a {
    color: white;
    text-decoration: none;
}

.about .btn {
    margin: 50px;
}

.skills {
    height: 100%;
    border-bottom: 6px solid white;
    text-align: center;
}

h1 {
    color: red;
    font-family: 'Racing Sans One';
    padding: 50px;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse {
    text-align: center;
}

.contact {
    height: 100%;  
}

.skills p {
    margin: 50px;
}

.about p {
    margin-top: 20px;
}

.skills .img-responsive {
    margin-bottom: 50px;
}

.projects img {
    height: 150px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 50px;    
}

h2 {
    color: white;
    font-family: 'Racing Sans One'; 
}

.projects a {
    color: red;
    text-decoration: none;
}

.projects a:hover {
    color: cyan;
}

.footer {
    text-align: center;
    border-top: 6px solid red;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer i {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.footer i:hover {
    color: cyan;
}

.img-container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 150px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.img-container:hover .overlay {
    opacity: 0.9;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}